<div class="user-side">
    <div class="side-link">
        <%= active_link_to("アカウント", account_path ) %>
    </div>
    <div class="side-link">
        <%= active_link_to("プロフィール", profile_path ) %>
    </div>
</div>